body {
    margin: 0;
    padding: 0;
}
div.wrapper {
    padding: 0px 20px;
    width: 920px;
    margin: 0 auto;
}
h1 {
    margin-bottom: 0;
}
h2 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.mod-box:after {
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.left {
    float: left;
    width: 400px;
    height: 420px;
    margin-right: 50px;
}
.right {
    float: left;
    width: 400px;
    height: 400px;
}
textarea {
    font-size: 16px;
}
textarea,
.canvas {
    border: 1px solid #CCC;
    width: 400px;
    height: 400px;
    padding: 10px;
    background: #FFF;
    overflow: auto;
}
#to_raphael {
    margin: 15px 0;
    clear: both;
    text-align: center;
}
#to_raphael img {
    position: relative;
    cursor: pointer;
}
#to_raphael img:hover {
    opacity: 0.6;
}
#to_raphael img:active {
    top: 2px;
    left: 2px;
}

.mod-box {
    padding: 10px 20px;
}
#svg h2 {
    color: #468ccb;
}
#raphael h2 {
    color: #ef953a;
}
footer {
    background: #EEE;
    border-top: 1px solid #333;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
